# These will be loaded into the Node.js environment 
# automatically allowing you to use them in Next.js data fetching methods and API routes.

FIREBASE_API_KEY=
AUTH_DOMAIN=
DATABASE_URL=
PROJECT_ID=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGEING_SENDER_ID=
APP_ID=
MEASUREMENT_ID=
